body{

font-family:Arial;
background:#203731;
color:white;
margin:0;

}

header{

background:#FFB612;
color:#203731;
padding:20px;

}

section{

margin:30px;

}

#rosterCards{

display:flex;
flex-wrap:wrap;
gap:20px;

}

.playerCard{

background:#111;
padding:15px;
border-radius:10px;
text-align:center;
width:180px;

}

table{

width:100%;
border-collapse:collapse;

}

th,td{

padding:10px;
border:1px solid white;

}

th{

background:#FFB612;
color:#203731;

}